{% load static %}
<div class="mobile_menu">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="logo_mobile">
      <a href="#">
        <img src="{% static 'media/hotline.png' %}" style="max-width:50px">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto"> <!-- Added mx-auto to center the navbar items -->
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'services' %}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'contact' %}">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<style>
  .navbar-nav .nav-link {
  font-size: 1.5rem;
  transition: color 0.2s ease;
  text-shadow: 0 0 5px rgba(255, 255, 0, 0.5); /* Add a yellow glow */
}

.navbar-nav .nav-link:hover {
  color: #fff; /* Change the hover color to white */
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8); /* Increase the yellow glow on hover */
  background-color: #7a288a; /* Add a purple background color on hover */
  border-bottom: 2px solid #7a288a; /* Add a purple bottom border on hover */
}

.navbar-nav .nav-link.active {
  color: #fff; /* Change the active color to white */
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.8); /* Add a yellow glow to the active link */
  background-color: #7a288a; /* Add a purple background color to the active link */
  border-bottom: 2px solid #7a288a; /* Add a purple bottom border to the active link */
  box-shadow: 0 0 10px rgba(255, 255, 0, 0.5); /* Add a yellow glow around the active link */
}
</style>